body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.header {
  align-items: center;
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  
}

.logo {
  color: #f9faf8;
  font-weight: 800;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 5px;
}

.right-links {
  
  display: flex;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.top-content {
  background-color: #1F2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  padding-bottom: 70px;

}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h1 {
  font-weight: 1000px;
  font-size: x-large;
  width: 400px ; 
  height: 150px ;
  margin: 0;
}

.t-p {
  width: 500px;
  height: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-weight: 700;
  width: 110px;
  padding: 8px 20px;
  color: #f9faf8;
  background-color: #3882f6;
}

img {
  width: 400px;
}